<!DOCTYPE html>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.7/css/all.css">

<html>

<body>
    <div class="resume">
        <div class="base">
            <div class="profile">
                <div class="icon"><i class="fas fa-laptop fa-5x"></i></div>
                <h1 class="name" style="font-size: 30px;">THUMMANOON HWANCHAEAM</h1>
                <p>Java Developer</p>
            </div>
            <div class="aboutme">
                <h2>About me</h2>
                <p>I'm a java Developer,specializing in java ,html ,javascript and sql.</p>
            </div>
            <div class="contact">
                <h2>contact me</h2>
                <a href="tel:064-509-8865">
                    <i class="fas fa-phone"></i>
                    <span>064-509-8865</span>
                </a>
                <div class="email">
                    <a href="mailto:thummanunpy@gmail.com">
                        <i class="fas fa-envelope"></i>
                        <span style="font-size: 14px;">thummanunpy@gmail.com</span>
                    </a>
                </div>
            </div>
            <div class="follow">
                <h2>follow me</h2>
                <div class="box">
                    <a href="https://www.facebook.com/thummanun.py" target="_blank"><i class="fab fa-facebook fa-3x"></i></a>
                    <a href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram fa-3x"></i></a>

                </div>
            </div>
        </div>
        <div class="func">
            <div class="work">
                <h2>experience</h2>
                <ul>
                    <li><span>Java Developer -<br>Junior</span><small>May 2020 - Now</small></li>
                </ul>
            </div>
            <div class="edu">
                <h2>education</h2>
                <ul>
                    <li><span>Electronic and Computer System -<br>Silpakorn University</span><small>2016 - 2020</small></li>
                </ul>
            </div>
            <div class="skills-prog">
                <h2>Programming Skills</h2>
                <ul>
                    <li><span>HTML5</span>
                        <div class="skills-bar">
                            <div class="bar1"></div>
                        </div>
                    </li>
                    <li><span>CSS3</span>
                        <div class="skills-bar">
                            <div class="bar2"></div>
                        </div>
                    </li>
                    <li><span>JavaScript</span>
                        <div class="skills-bar">
                            <div class="bar3"></div>
                        </div>
                    </li>
                    <li><span>Java</span>
                        <div class="skills-bar">
                            <div class="bar4"></div>
                        </div>
                    </li>
                    <li><span>SQL</span>
                        <div class="skills-bar">
                            <div class="bar5"></div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="interests">
                <h2>Interests</h2>
                <div class="interests-items">
                    <div class="movies"><i class="fas fa-film"></i><span>Movies</span></div>
                    <div class="music"><i class="fas fa-headphones"></i><span>Music</span></div>
                    <div class="games"><i class="fas fa-gamepad"></i><span>Games</span></div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>