<div class="card w-100 text-left">
    <div class="card-body">
        <h5 class="card-title">Contact Me</h5>
        <div class="contact">
            <a href="tel:064-509-8865">
                <i class="fas fa-phone"></i>
                <span>064-509-8865</span>
            </a>
            <div class="email">
                <a href="mailto:thummanunpy@gmail.com">
                    <i class="fas fa-envelope"></i>
                    <span style="font-size: 14px;">thummanunpy@gmail.com</span>
                </a>
            </div>
        </div>
    </div>
</div>