<div class="container">
    <div class="row">
        <div class="col-4 text-right">
            <a [routerLink]="['/aboutMe']">About me</a>
        </div>
        <div class="col-2 text-center">
            <a [routerLink]="['/skill']">Skill</a>
        </div>
        <div class="col-2 ">
            <a [routerLink]="['/contactMe']">Contact Me</a>
        </div>
        <div class="col-4 ">
            <a [routerLink]="['/portfolio']">Portfolio</a>
        </div>
    </div>
</div>
<router-outlet></router-outlet>
<div class="container text-center">
    <router-outlet></router-outlet>
</div>